
/*Tablet*/

/*header*/

@media all and (max-width: 992px)
{
    header
    {
        justify-content: space-between;  
    }

    nav
    {
        margin-left: 0px;
        justify-content: flex-start; 
    }
}

/*section 1 : search bar */

@media all and (max-width: 992px)
{
    .one h1, p
    {
        justify-content: center;
    }

    .bar
    {
        justify-content: center;
    }

    #search
    {
      width: 240px;  
    }

    #button
    {
        width: 140px;
    }

    div
    {
        flex-direction: column;
    }

    .fil
    {
        margin: 0;
        padding: 0;
    }

    #eco, #fam, #rom, #ani
    {
        width: 280px;
    }

    .fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
    {
        width: 58px;
    }

    .fa-info
    {
        width: 29px;
    }

    .info
    {
        margin-bottom: 0;
    }
}

/* section 2 */

@media all and (max-width: 992px)
{
    .big
    {
        height: 1900px;
        flex-direction: column;
        align-items: center;
    }

    .accommodation, .popular
    {
        width: 90%;
        height: 1000px;
        border-radius: 4%/3%;
    }

    .card-star
    {
        flex-direction: row;
    }

    .show h2
    {
        margin: 0;
    }

    .popular
    {
        height: 730px;
        border-radius: 4%; 
    }

    .pop
    {
        flex-direction: row;
        justify-content: center;
    }
    .pop h2
    {
        margin: 0 10px 0 0;
    }

    .pop i
    {
        margin: 0;
        padding: 0;
    }

    .tile
    {
        flex-direction: row;
    }
 
    .star
    {
        flex-direction: row;
    }
}