/* Tablet */

/* header */

@media all and (max-width: 992px)
{
    header
    {
        justify-content: space-between;  
    }

    #logo
    {
        margin: 40px 0 0 15px;
    }

    nav
    {
        margin-left: 0px;
        justify-content: flex-start; 
    }
}

/* section 1 : search bar */

@media all and (max-width: 992px)
{
    .one h1, p
    {
        padding: 0 0 0 15px;
    }

    .fa-location-dot
    {
        width: 55px;
    }

    #search
    {
      width: 240px;  
    }

    #button
    {
        width: 140px;
    }

    .fls
    {
        flex-wrap: wrap;
        padding: 0 15px 0 15px;
    }

    .fil
    {
        margin: 0;
        padding: 0
    }

    .filter
    {
        margin: 10px 10px 10px 10px;
    }

    #eco, #fam, #rom, #ani
    {
        width: 260px;
    }

    .fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
    {
        width: 58px;
    }

    .fa-info
    {
        width: 29px;
    }

    .info
    {
        margin: 30px 0 30px 0;
    }
}

/* section 2 */

@media all and (max-width: 992px)
{
    .big
    {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 50px;
        height: 100%;
    }

/* Accommodations in Marseille */

    .accommodation
    {
        width: 100%;
    }

    .acc
    {
        margin-bottom: 20px;
        justify-content: center;
    }
    .acc h2
    {
        padding: 0 0 0 40px;
    }

    .card-star
    {
        flex-direction: row;
    }

    .show
    {
      padding: 0; 
    }

    .show h2
    {
        padding: 0 0 15px 25px;
        margin: 0;
    }

/* The most popular */

    .popular
    {
        width: 100%;
        border-radius: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .pop
    {
        flex-direction: row;
        justify-content: center;
        margin-top: 35px;
    }

    .pop h2
    {
        margin: 0;
        padding: 0;
        width: 290px;
    }

    .pop i
    {
        margin: 0;
        padding: 0;
    }

    .can
    {
        width: 100%;
        height: 500px;
        justify-content: space-around;
    }

    .tile
    {
        flex-direction: row;
        width: 100%;
        margin: 0;
    }

    .star
    {
        flex-direction: row;
        
    }
}

/* section 3 */

@media all and (max-width: 992px)
{
    .fat
    {
        height: 600px;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .fat h2
    {
        margin: 0;
        padding: 0;
    }
    
    #ligne237
    {
        flex-direction: row;
        padding: 0 1% 0 1%;
    }

    #ligne237 h2
    {
        padding-left: 10px;
    }

    .act-link
    {
        width: 100%;
    }

/* part 1 */

    .element
    {
        width: 100%;
        padding: 10px;
    }

    .fort
    {
        height: 200px;
    }

    .right-bottom
    {
        height: 200px;
    }

    .island
    {
        height: 160px;
    }

/* part 2 */

    .right-up
    {
        height: 223px;
    }

    .dame
    {
        height: 170px;
    }

    .right-down
    {
        height: 223px;
    }

    .park
    {
        height: 180px;
    }

    .left:hover, .right-top:hover, .right-bottom:hover, .right:hover, .right-up:hover, .right-down:hover
    {
        box-shadow: 0 0 10px rgba(0, 101, 252, 0.5);
        transition-duration: .3s;
        transition-timing-function: ease;
    }
}

/* footer */

@media all and (max-width: 992px)
{
    footer
    {
        height: 190px;
        justify-content: space-between;
    }

    .prop, .our, .sos
    {
        align-items: center;
    }
}

/* smartphone */

/* header */

@media all and (max-width: 768px)
{
    header
    {
        height: 150px;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center; 
    }
    
    #logo
    {
        align-items: flex-start;
        margin: 10px 0 0 50px;
    }

    nav a
    {
        padding: 20px 40px 20px 40px;
    }

    nav a:hover
    { 
        border-top: none;
        border-bottom: 4px solid #0065FC;
        color: #0065FC;
    }

    main
    {
        width: 100%;
    }
}

/* section 1 */

@media all and (max-width: 768px)
{
    .one h1, p
    {
        padding: 0 15px 0 15px;
        justify-content: flex-start;
    }
    
    .bar
    {
        padding: 0 15px 0 15px;
    }

    .fa-location-dot
    {
        width: 60px;
        color: black;
    }
    #search
    {
        width: 80%;
        border-right: none;
    }

    #button
    {
        width: 60px;
        border-radius: 15px;
    }

    span
    {
        display: none;
    }

    .fa-magnifying-glass
    {
        display: block;
        font-size: 18px;
        color: white;
    }

    .fls
    {
        padding: 0 15px 0 15px;
        flex-direction: row;
        align-items: flex-start;
    }

    .fil
    {
        width: 100%;
    }

    .fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
    {
        font-size: 20px;
        height: 58px;
        width: 56px;
    }

    .filter
    {
        font-size: 18px;
        margin: 10px 15px 10px 0;
    }

    #eco
    {
        width: 185px;
    }

    #fam
    {
        width: 145px;
    }

    #rom
    {
        width: 180px;
    }

    #ani
    {
        width: 240px;
    }

    .fa-info
    {
        margin: 10px 10px 0 0;
        width: 4%;
        font-size: 18px;
        align-self: flex-start;
    }

    .info
    {
        margin: 15px 0 30px 0;
        font-size: 16px;
        height: 50px;
    }
}

/* section 2 */

@media all and (max-width: 768px)
{
    .big
    {
        height: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0;
    }

/* Accommodations in Marseille */

    .accommodation
    {
        background-color: white;
        padding: 0 20px 0 20px;
        margin-top: 30px;
    }

    .acc
    {
        padding: 0;
        margin: 0 0 10px 0;
        justify-content: flex-start;
    }

    .acc h2, .card-header, .card-body, .show, .show h2
    {
        padding: 0;
    }

/* The most popular */

    #ligne56
    {
        padding: 0;
    }

    .popular
    {
        height: 45%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 20px 0 20px;
        border-radius: 0;
    }

    .popular a
    {
        width: 100%;
    }

    .pop
    {
        justify-content: space-between;
    }

    .pop i
    {
       padding: 0;
    }

    .pop h2
    {
        width: 230px;
    }

    .can
    {
        height: 700px;
        justify-content: space-between;
    }

    .pics
    {
        width: 50%;
    }

    .body
    {
        padding: 20px 0 0 30px;
        flex-direction: column;
    }

/* section 3 */

    .fat
    {
        height: 100%;
        padding: 0 20px 0 20px;
    }

    .fat h2
    {
        align-self: flex-start;
        margin-bottom: 30px;
    }

    #ligne237
    {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    #ligne237 h2
    {
        font-size: 20px;
        width: 100%;
        padding-top: 5%;
        margin-left: 4%;
    }

    .element
    {
        width: 100%;  
        justify-content: flex-start;
    }

    .vieux, .fort, .island, .calanques, .dame, .park
    {
        height: 80%;
    }

    .left, .right-top, .right-bottom, .right, .right-up, .right-down
    {
        height: 400px;
        margin: 0px;
    }

    .right-bottom, .right-down
    {
        margin-top: 20px;
    } 

    .left:hover, .right-top:hover, .right-bottom:hover, .right:hover, .right-up:hover, .right-down:hover
    {
        box-shadow: 0 0 10px rgba(0, 101, 252, 0.5);
        transition-duration: .3s;
        transition-timing-function: ease;
    }
}

/* footer */

@media all and (max-width: 768px)
{
    footer
    {
        height: 400px;
        flex-direction: column;
        padding: 0 0 0 20px;
        margin-top: 50px;
    }

    .prop, .our, .sos
    {
        align-items: flex-start;
    }

    footer a
    {
        padding: 0 0 10px 0;
    }
}
