*
{
    box-sizing: border-box;
    font-family: Raleway, 'Courrier New', 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Italic-VariableFont_wght.ttf");
    src: url("../font/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Header */

header, nav, img
{
    display: flex;
}

nav
{
    width: 30%;
    height: 70px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 60%;
}

nav a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 43px 40px 0px 40px;
}  

nav a:hover
{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

#logo
{
    width: 140px;
    height: 55px;
    margin: 3% 0% 0% 3%;
}

main
{
    margin-left: 35px;
}

/* Section 1 */

h1
{
    font-size: 30px;
    margin-top: 50px;
}

p
{
    font-size: 22px;
}

i, p
{
    display: flex;
}

.fa-location-dot
{
    font-size: 22px;
    border: #F2F2F2 solid 1px;
    border-radius: 15px 0px 0px 15px;
    width: 70px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

#search
{
    border: #F2F2F2 solid 1px;
    width: 300px;
    height: 55px;
    font-weight: bold;
}

#button
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    width: 150px;
    height: 55px;
    border-radius: 0px 15px 15px 0px;
    color: white;
}

div, h2, #eco, #fam, #rom, #ani, .fa-money-bill-wave
{
    display: flex;
    align-items: center;  
}

h2
{
    font-size: 22px;
    margin: 20px 0px 0px 10px;
    height: 50px;
}

#eco, #fam, #rom, #ani
{
    font-size: 22px;
    font-weight: bold;
    border: #F2F2F2 solid 3px;
    border-left: none;
    border-radius: 50px;
    margin: 20px 0px 0px 35px;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 250px;  
}

#eco:hover, #fam:hover, #rom:hover, #ani:hover, .fa-money-bill-wave:hover, .fa-child-reaching:hover, .fa-heart:hover, .fa-dog:hover
{
    color: white;
    text-decoration: underline;
    border: rgb(184, 59, 59) solid 1px;
    background-color: rgb(184, 59, 59);
}

#fam
{
    width: 185px;
}

#rom
{
    width: 230px;
}

#ani
{
    width: 300px;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 22px;
    color: #0065FC;
    border: #DEEBFF solid 1px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    background-color: #DEEBFF;
    margin-right: 15px;  
}

.info, .fa-info
{
    display: flex;
}

.fa-info
{
    font-size: 18px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.info
{
    align-items: center;
    margin-top: 45px;
}

/* section 2 */

.card
{
    height: 250px;
    width: 300px;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.1);
    padding: 7px;
    flex-wrap: wrap;  
}

.card:hover, #cann:hover
{
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
    transition-property: filter width; 
    transition-duration: .3s;
    transition-timing-function: ease;
}

.card-link
{
    text-decoration: none;
    color: black;
}

.card-header
{
    overflow: hidden;
    height: 150px;
    border-radius: 18px 18px 0 0;
}

.card-body
{
    width: 284px;
    height: 150px;
    align-items: flex-start;   
    flex-direction: column;
}    

.card-title, .card-price, .card-star
{
   font-size: 20px;
   padding-left: 10px;
   margin-top: 3px;
} 

.card-title
{
    font-weight: bold;
}

.card-star i
{
    font-size: 18px;
    color: #0065FC;
}

.card-last i
{
    color: #F2F2F2;
}






