* 
{
    box-sizing: border-box;
    font-family: Raleway, 'Courrier New', 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

@font-face 
{
    font-family: "Raleway";
    src: url("../font/Raleway-Italic-VariableFont_wght.ttf");
    src: url("../font/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Header */

header, nav 
{
    display: flex;
    border: black solid 2px;
}

header
{
    width: 100%;
    justify-content: space-between;
}

nav 
{
    width: 30%;
    height: 70px;
    justify-content: space-evenly;
    align-items: flex-end;
    border: #0065FC solid 2px;
}

nav a 
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 43px 40px 0 40px;
}

nav a:hover 
{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

#logo 
{
    width: 8%;
    height: 55px;
    margin: 40px 0 0 70px;
    border: red solid 2px;
}

main 
{
    width: 100%;
}

/* Section 1 */

h1 
{
    font-size: 24px;
    margin-top: 50px;
    padding: 0 3% 0 3%;
}

p 
{
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 3% 0 3%;
}

i, p 
{
    display: flex;
}

.fa-location-dot 
{
    font-size: 22px;
    border: #F2F2F2 solid 1px;
    border-radius: 15px 0 0 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

#search 
{
    border: #F2F2F2 solid 1px;
    width: 16%;
    height: 55px;
    font-weight: bold;
}

#button 
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    width: 10%;
    height: 55px;
    border-radius: 0 15px 15px 0;
    color: white;
}

div, h2, .filter, .fa-money-bill-wave 
{
    display: flex;
    align-items: center;
}

h2 
{
    font-size: 20px;
    margin: 30px 0 0 0;
    height: 50px;
    padding-left: 3%;
}

.filter 
{
    font-size: 20px;
    font-weight: bold;
    border: #F2F2F2 solid 3px;
    border-left: none;
    border-radius: 50px;
    margin: 20px 0 0 30px;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 13%;
}

.filter:hover .fa-solid, .filter:hover 
{
    color: white;
    text-decoration: underline;
    border: #0065FC solid 1px;
    background-color: #0065FC;
}

#fam 
{
    width: 10%;
}

#rom 
{
    width: 12%;
}

#ani 
{
    width: 16%;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #0065FC;
    border: #DEEBFF solid 1px;
    border-radius: 50px;
    height: 60px;
    width: 26%;
    background-color: #DEEBFF;
    margin-right: 15px;
}

.fa-child-reaching
{
    width: 34%;  
}

.fa-heart
{
    width: 28%;
}

.fa-dog 
{
    width: 21%;
}

.info, .fa-info 
{
    display: flex;
}

.fa-info 
{
    font-size: 18px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 50%;
    width: 1.9%;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.info 
{
    align-items: center;
    margin: 30px 0 30px 0;
}

/* section 2 */

.big 
{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding: 0 3% 0 3%;
}

/* Accommodations in Marseille*/

.accommodation 
{
    background-color: #F2F2F2;
    border-radius: 3%/4%;
    width: 64%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.acc
{
    height: 8%;
    width: 100%;
    margin-bottom: 1%;
}

.acc h2
{  
    font-size: 24px;
    padding-left: 2%;
}

.more 
{
    height: 8%;
    width: 100%;
}

.more h2
{
    font-size: 22px;
    padding-left: 2%;
}

.show, .card-link 
{
    text-decoration: none;
    color: black;
}

.show
{
    width: 100%;
    padding: 0 2% 8% 0;
}

.show h2
{
    font-size: 20px;
}

.card 
{
    height: 230px;
    width: 30%;
    display: flex;
    border-radius: 25px/25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 0.6%;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.card:hover, .photos:hover 
{
    box-shadow: 0px 0px 40px rgba(0, 101, 252, 0.5);
    transition-duration: .3s;
    transition-timing-function: ease;
}

.card-header 
{
    overflow: hidden;
    height: 140px;
    border-radius: 18px 18px 0 0;
}

.card-body 
{
    width: 100%;
    height: 150px;
    align-items: flex-start;
    flex-direction: column;
}

.card-title, .card-price, .card-star 
{
    font-size: 18px;
    padding-left: 5%;
    margin-top: 2%;
}

.card-title 
{
    font-weight: bold;
}

.card-price 
{
    font-size: 16px;
}

i 
{
    font-size: 16px;
    color: #0065FC;
}

.card-last i 
{
    color: #e2e2e2;
}

/* The most popular */

.popular 
{
    border-radius: 7%/5%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.pop 
{
    height: 8%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.pop h2 
{
    font-size: 24px;
    margin-left: 4%;
}

.pop i 
{
    color: black;
    padding: 4% 2% 0 0;
    font-size: 25px;
    margin-right: 5%;
}

.tile 
{
    height: 160px;
    width: 400px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 2% 2% 0 2%;
    margin: 8% 0 2% 0;
}

.tile-link 
{
    text-decoration: none;
    color: black;
}

.tile:hover
{
    box-shadow: 0px 0px 40px rgba(0, 101, 252, 0.5);
    transition-duration: .3s;
    transition-timing-function: ease;
}

.pics
 {
    height: 155px;
    border-radius: 18px 0px 0 18px;
    object-fit: cover;
 }

.body 
{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 175px;
    padding: 3% 5%;
}

.title 
{
    font-weight: bold;
    font-size: 18px;
}

.price 
{
    font-size: 16px;
    margin-top: 4%;
}

.star 
{
    margin-top: 39%;
}

i 
{
    font-size: 16px;
    color: #0065FC;
}

.star-end i 
{
    color: #e2e2e2;
}

/* Section 3*/

.fat
{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 2% 0% 4% 0%;
    padding: 0% 3% 0% 3%;
}

.fat h2
{
    font-size: 24px;
    padding-left: 7px;
    margin-bottom: 10px;
}

/* Part 1*/

.part-1, .part-2
{
    flex-wrap: nowrap;
    width: 50%;
    height: 550px;
}

.part-1 h2, .part-2 h2
{
    width: 96%;
    font-size: 20px;
    font-weight: bold;
    margin: 6% 0% 4% 0%;
    padding-left: 6%;
}

.element
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 1%;
    border-radius: 8%/6%;
    margin-right: 5%;
}

.left
{
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 8%/6%;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.left figcaption
{
    margin-top: 15%;
}

.vieux
{
    height: 460px;
    object-fit: cover;
}

.right-top
{
    flex-direction: column;
    height: 50%;
    width: 100%;
    border-radius: 8%/10%;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.right-bottom
{
    flex-direction: column;;
    height: 40%;
    width: 100%;
    border-radius: 8%/12%;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.fort, .island 
{
    overflow: hidden;
    object-fit: cover 
}

/* Part 2*/

.right
{
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 8%/6%;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.right figcaption
{
    margin-top: 15%;
}

.calanques
{
    height: 460px;
    object-fit: cover;
}

.right-up
{
    flex-direction: column;
    overflow: hidden;
    height: 45%;
    width: 100%;
    border-radius: 8%/12%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.right-down
{
    height: 45%;
    width: 100%;
    flex-direction: column; 
    overflow: hidden;
    border-radius: 8%/12%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.dame, .park
{
    overflow: hidden;
    object-fit: cover;
}

/* footer */

footer
{
    display: flex;
    height: 240px;
    margin: auto;
    background-color: #F2F2F2;
}

.prop, .our, .sos
{
    flex-direction: column;
    align-content: flex-start;
    width: 30%;
    align-items: flex-start;
}

footer a
{
    padding: 2% 0% 0% 2%;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

