*
{
    box-sizing: border-box;
    font-family: Raleway, 'Courrier New', 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Italic-VariableFont_wght.ttf");
    src: url("../font/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Header */

header, nav, img
{
    display: flex;
}

nav
{
    width: 30%;
    height: 70px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 60%;
}

nav a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 43px 40px 0px 40px;
}  

nav a:hover
{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

#logo
{
    width: 140px;
    height: 55px;
    margin: 3% 0% 0% 3%;
}

main
{
    margin-left: 35px;
}

/* Section 1 */

h1
{
    font-size: 30px;
    margin-top: 50px;
}

p
{
    font-size: 22px;
}

i, p
{
    display: flex;
}

.fa-location-dot
{
    font-size: 22px;
    border: #F2F2F2 solid 1px;
    border-radius: 15px 0px 0px 15px;
    width: 70px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

#search
{
    border: #F2F2F2 solid 1px;
    width: 300px;
    height: 55px;
    font-weight: bold;
}

#button
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    width: 150px;
    height: 55px;
    border-radius: 0px 15px 15px 0px;
    color: white;
}

div, h2, #eco, #fam, #rom, #ani, .fa-money-bill-wave
{
    display: flex;
    align-items: center;  
}

h2
{
    font-size: 22px;
    margin: 20px 0px 0px 10px;
    height: 50px;
}

#eco, #fam, #rom, #ani
{
    font-size: 22px;
    font-weight: bold;
    border: #F2F2F2 solid 3px;
    border-left: none;
    border-radius: 50px;
    margin: 20px 0px 0px 35px;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 250px;  
}

#fam
{
    width: 185px;
}

#rom
{
    width: 230px;
}

#ani
{
    width: 300px;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 22px;
    color: #0065FC;
    border: #DEEBFF solid 1px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    background-color: #DEEBFF;
    margin-right: 15px;  
}